

$primary:#000;
$primary-green:#00A850;
$secondary-green:#76C043;
$gray:#403f3f;
$gold:#c7a016;
$text-gray:#57667d;
 
$border:#CAD2DF;
$bg:#F8FAFB;
$familyR: "Urbanist-Regular";
$familyL: "Urbanist-Light";
$familyAR: "Almarai-Regular";
//bold
$familyARbold: "Almarai-Bold";
//light
$familyARlight: "Almarai-Light";
$btn-radius:2px;
$black:#000;
$white:#fff;
//denotive colours
$red:#C30638;
$yellow: #EC981D;
$orange:#F8570B;
$green: #43B38D;
.confirmed{
  background: $green;
  padding: 5px;
  width: 100px;
  height: 30px;
  border-radius: 35px;
  color: $white;
  text-align: center;
}
.inreview{
  background: $yellow;
  padding: 5px;
  width: 100px;
  height: 30px;
  border-radius: 35px;
  color: $white;
  text-align: center;
}
.low{
  background: $bg;
  padding: 5px;
  width: 100px;
  height: 30px;
  border-radius: 35px;
  color: $text-gray;
  text-align: center;
}
.btn{
  border-radius: 0px!important;
}
.progress-barHome {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: $primary-green;
  transform-origin: 0%;
  z-index: 5555;
}
body{
 background: $white!important;
 font-family: $familyR!important;
}
p {
  margin-top: 0;
  margin-bottom: 0!important;
}
@font-face {
  font-family: $familyR;
  src: url(fonts/Urbanist-Regular.ttf);
}
@font-face {
  font-family: $familyL;
  src: url(fonts/Urbanist-Light.ttf);
}
 
//////////////// arabic fonts ///////////
@font-face {
  font-family: $familyAR;
  src: url(fonts/Almarai-Regular.ttf);
}
 
//bold
@font-face {
  font-family: $familyARbold;
  src: url(fonts/Almarai-Bold.ttf);
}
 
//light
@font-face {
  font-family: $familyARlight;
  src: url(fonts/Almarai-Light.ttf);
}
 
/// dropdown
.dropdown-menu {
	opacity: 0.0001;
		transition: 0.3s cubic-bezier(.2, 0, 0, 1.6);
		transform: scale(0.6) translateY(-20%);
		-webkit-transform: scale(0.6) translateY(-20%);

  &.show{
 
      opacity: 0.9999;
      transform: none;
      -webkit-transform: none;
    
  }
  &::before {
		content: "";
		position: absolute;
		height: 12px;
		width: 12px;
		border: solid 1px #DCDCDC;
		border-width: 1px 0 0 1px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		background-color: #fff;
		top: -7px;
		left: 32px;
	}
}






 

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
