@use "../custom" as *;

body {
    overflow-x: hidden;
}

.content {
    color: $red-600;
    font-size: 25px;
    padding: 100px;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 3000;
    transition: background .6s ease;
    border-bottom: 1px solid #eaeaea;
    transform: translateZ(0);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    background: hsla(0, 0%, 100%, .8);
    padding-left: 65px;
    padding-right: 65px;
    
.site-nav {
    // border-bottom: 1px solid $border;
    ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            position: relative;
            padding: 5px 15px 5px 15px;
            cursor: pointer;
            &::after{
               
                    position: absolute;
                    content: "";
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: $primary-green;
                    transform: scaleX(0);
                    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
                   
            }
            &:hover{
                &::after{
                    transform: scaleX(1);
                }
            }
            &.active{
                
                &::after{
                    transform: scaleX(1);
                }
            }
            a {
                position: relative;
                display: flex;
                color: $primary;
                font-family: $familyL;
                text-decoration: none;
                transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
                &.active{
                    color: $primary-green;
                }
              }
          }
      }
    
      ul:hover li:hover a {
        color:   $secondary-green;
      }
      ul:hover li:not(:hover) a {
        opacity: 0.5;
      }
  }
  
  

    .main-logo {}

    .right-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: auto;
        .lang-btn{
            background: transparent;
            border: none;
            margin-right: 5px;
            margin-left: 5px;
            padding: 7px;
            border-radius: 4px;
            &.dropdown-toggle{
                &::after{
                    display: none;
                }
            }
            &:hover {
                background: #edeff0;
                -webkit-backdrop-filter: saturate(180%) blur(5px);
                backdrop-filter: saturate(180%) blur(5px);
            }
        }

        .header-icon {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            text-align: center;
            align-items: center;
            padding: 7px;
            transition: background .6s ease;

            &:hover {
                background: #edeff0;
                -webkit-backdrop-filter: saturate(180%) blur(5px);
                backdrop-filter: saturate(180%) blur(5px);
            }
        }

        .btn {
            border-radius: 0px;
        }

        .logged-user {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .user-icon {
                border: 1px solid $primary-green;
                background-color: transparent;
                position: relative;
              
                height: 35px;
                width: 35px;
                border-radius: 50%;
                padding: 10px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                &.dropdown-toggle{
                    &::after{
                        display: none;
                    }
                }
                
            }

            .welcome {
                margin: 0px;
                padding: 5px;
                color: black;
                font-weight: 600;
            }

            .username {
                color: $primary-green;
                padding: 5px
            }
            .logged-user-menu ,.dropdown-menu{
                padding: 10px;
                li{
                    opacity: 0.7;
                    &:hover{
                        background: transparent;
                        border-radius: 4px;
                        opacity: 1;
                        .dashboard-icon, .profile-icon, .logout-icon{
                            path{
                                &:first-child{
                                    fill: $primary-green;
                                }
                            }
                        }
                        a{
                            color: $primary-green;
                        }
                    }
                    .dropdown-item{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        color: $text-gray;
                        svg{
                            width: 22px;
                            margin-right: 5px;
                            margin-left: 5px;
                        }
                       &:hover{
                        background: $bg;
                        border-radius: 4px;
                       }
                    }
                }
            }
        }
    }
     .dropdown-menu{
        padding: 10px;
        li{
            opacity: 0.7;
            &:hover{
                background: transparent;
                border-radius: 4px;
                opacity: 1;
                .dashboard-icon, .profile-icon, .logout-icon{
                    path{
                        &:first-child{
                            fill: $primary-green;
                        }
                    }
                }
                a{
                    color: $primary-green;
                }
            }
            .dropdown-item{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: $text-gray;
                svg{
                    width: 22px;
                    margin-right: 5px;
                    margin-left: 5px;
                }
               &:hover{
                background: $bg;
                border-radius: 4px;
               }
            }
        }
    }
}